* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Container {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.navBar {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
}
.content1 {
  display: flex;
  background: white;
  color: black;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.text {
  display: flex;
  padding: 20px;
  text-align: center;
}
.text h1 {
  font-size: 50px;
  font-weight: 100;
}
.image {
  width: 50%;
  display: flex;
  align-items: baseline;
}
.image img {
  width: 100%;
}
.biography {
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.biography h1 {
  font-size: 40px;
}
.biography p {
  font-size: 18px;
  text-align: justify;
}
